* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/voetbalstadion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body>header {
    margin: 0;
    padding: 0 1em 0 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    background-color: green;
    opacity: 0.5;
}

body>header>nav {
    display: flex;
    align-content: stretch;
}

body>header>h1 {
    color: green;
}

body>header>nav>a {
    align-self: center;
    padding-left: 0;
    margin: 0;
    border: solid white 1px;
    background-color: green;
    color: white;
    font-size: 3em;
    text-decoration: none;
}

body>main {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main>article {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
    background-color: transparent;
}

main>article>header.command-bar {
    margin: 0;
    padding: 0 0 0 1em;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: green;
    opacity: 0.5;
}

header.command-bar h2 {
    color: white;
}

header.command-bar nav {
    display: flex;
    align-content: stretch;
    height: 50%;
    color: green;
}

header.command-bar nav>a, aside a  {
    align-self: center;
    padding: 0;
    margin: 0;
    border: solid white 1px;
    background-color: green; /* pijl groene achtergrond */
    color: white; /* pijl witte kleur */
    font-size: 2.5em;
    text-decoration: none;
}

aside a {
    font-size: 1.5em;
    
}

main>article>fieldset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    background-color: transparent;
}

main>article>fieldset>table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

main>article>fieldset>td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: green; /* pijl groene achtergrond */
  color: white; /* pijl witte kleur */
}

main>article>fieldset>tr:nth-child(even) {
  background-color: #dddddd;
}

main>aside {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 30%;
}

body>footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 5%;
    width: 100%;
    color: white;
    background-color: black;
    opacity: 0.3;
    text-align: center;
}

/* accessability */
.screen-reader-text {
    /* Reusable, toolbox kind of class
        voor screen readers, op die manier
        kunnen de readers lezen waarvoor
        de knop staat; de tekst is zelf
        niet zichtbaar op het scherm door negatieve
        waarden toe te kennen aan top en left */
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}