@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n72wah');
  src:  url('fonts/icomoon.eot?n72wah#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n72wah') format('truetype'),
    url('fonts/icomoon.woff?n72wah') format('woff'),
    url('fonts/icomoon.svg?n72wah#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right:before {
  content: "\ea34";
}